<template lang="pug">
.container
    .row.nav 
        .col-md-12
            h1.text-center Colores
    .row
        .col-md-4.color-item(v-for='(color, i) in colors', @click='copyColor(color.color, i)')
            .color-item.d-flex.flex-sm-row.justify-content-between.flex-column(:style='{background:color.color}')
                span.p-2.year.align-self-sm-start {{color.year}}
                
                .name-color.align-self-lg-center
                    h4.title {{color.name}}
                    h3.title {{color.color}}
                
                span.p-2.align-self-sm-end {{color.pantone_value}}

    .row.nav 
        .col-md-12
            ul.nav-footer.d-flex.flex-sm-row.justify-content-between.flex-column
                li.align-self-sm-start(@click="page--") Pagina 1
                li.align-self-sm-end(@click="page++") Pagina 2
</template>

<script src='./color.js'></script>
<style src="./color.styl" lang="stylus"></style>