body
    font-family: 'Poppins', sans-serif;

h3
    font-size: 24px;
.title-top
    margin-top: 50px;

.color-item
    padding: 5px;
    border-radius: 20px;
    min-height: 200px;
    cursor: pointer;

.color-item:hover
    background: $hover !important

.color-item 
    span
        color: white;
        font-weight: 200;

.color-item 
    h3.title, 
.color-item 
    h4.title
        margin: 0px;
        padding: 0px;
        color: white;
        font-weight: 200;

.name-color
    text-align:center

.nav
    margin: 20px 0;

ul.nav-footer
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
    > li:hover
        color:#888;
