<template>
  <div id="app">
    <colorDashboard></colorDashboard>
  </div>
</template>

<script>

import colorDashboard from './components/dashboard/color.vue'

export default {
  name: 'app',
  components: {
    colorDashboard
  }
}
</script>